<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">客源之眼</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink="/customerPublicDaily">每日公客</a></li>
                <li><a routerLink="/relation">每日来电</a></li>
                <li><a routerLink="/userDaily">每日微聊</a></li>
                <li><a routerLink="/userDaily"> 每日成交</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>